{
    // "extends": "airbnb-base"
    "parserOptions": {
        "ecmaVersion": 6
    },
    "rules": {
        "no-irregular-whitespace": "error",
        "no-alert": "error",
        "no-loop-func": "error",
        "array-callback-return": "error"
    }
}